*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'IBM Plex Serif', serif;
}
body,html{
	background-color: black;
  	height: 100%;
	width: 100%;
}

p{
	font-size: calc(12px + 0.3vw);
}

header{
	padding: 20px;
  	width: 90%;
  	max-width: 650px;
	position: absolute;
  	top: 10%;
  	left: 50%;
  	transform: translateX(-50%) translateY(-10%);
	text-align: center;
}

header .ml11 .letters {
	font-size: calc(30px + 1.5vw);
	font-weight: lighter;
	letter-spacing: 4px;
}

header p {
	font-size: calc(12px + 0.5vw);
}

.Body{
    width: 100%;
    padding-bottom: 1px;
}

.Body .Section{
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 100px;
	margin-bottom: 100px;
}

div#Projects.Section{
	width: 80%;
	max-width: 850px;
}

div#About.Section{
	width: 70%;
	max-width: 500px;
}

div#Skills.Section{
	width: 70%;
	max-width: 500px;
}

#Projects .Content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.Project{
	text-align: center;
}

#profileImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	object-fit: cover;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
	
	width: 200px;
	height: 100px;
}

@media only screen and (max-width: 600px) {
	.hexagon {
		width: 125px;
		height: 75px;
	}
	.hexagon-in2 p {
		font-size: 23px !important;
	}
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
	height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
			transform: rotate(-60deg);
	

}
.hexagon-in2 {
    background: rgb(255,255,255);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
			transform: rotate(-60deg);
}

.hexagon-in2 p {
	text-align: center;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: black;
	font-size: 32px;
}


.Project{
	cursor: pointer;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 5px;
}

.Project h3 {
	font-size: calc(12px + 0.4vw);
}

#grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }

#more-button{border-style:none;background:none;font:16px Serif;color:blue;margin: 0 0 10px 0;}


div#Footer.Section{
	width: 80%;
    max-width: 500px;
    text-align: center;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.icon{
    padding: 10px;
}
#git{
    width: 500px !important;
}
.icon img{
    width: 50px;
}



.ml11 {
	font-weight: 700;
	font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
  }
  
  .ml11 .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 100%;
	width: 3px;
	background-color: #fff;
	transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
	top: 0; 
	left: 0;
  }
  
  .ml11 .letter {
	display: inline-block;
	line-height: 1em;
  }